@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

html,
body,
#root {
  font-family: "Fraunces", serif;
}

* {
  font-family: inherit;
}

.marquee {
  position: relative;
  overflow: hidden;
}

.marquee-track-slow {
  display: flex;
  width: max-content;
  gap: 2rem;
  animation: marquee 40s linear infinite;
}

.marquee-track-normal {
  display: flex;
  width: max-content;
  gap: 2rem;
  animation: marquee 50s linear infinite;
}

.marquee-track-fast {
  display: flex;
  width: max-content;
  gap: 2rem;
  animation: marquee 60s linear infinite;
}

.marquee:hover .marquee-track-slow,
.marquee:hover .marquee-track-normal,
.marquee:hover .marquee-track-fast {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translate3d(0,0,0);
  }

  to {
    transform: translate3d(-50%,0,0);
  }
}

/* Fade Edges */

.marquee::before,
.marquee::after{
  content:"";
  position:absolute;
  top:0;
  width:140px;
  height:100%;
  z-index:5;
  pointer-events:none;
}

.marquee::before{
  left:0;
  background:linear-gradient(
    to right,
    var(--fallback-b2,oklch(var(--b2))),
    transparent
  );
}

.marquee::after{
  right:0;
  background:linear-gradient(
    to left,
    var(--fallback-b2,oklch(var(--b2))),
    transparent
  );
}